body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 20px 0;
    text-align: center;
}

.gallery-container {
    background-color: rgba(255, 165, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid orange;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

.gallery img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
}

.add-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 165, 0, 0.1); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid orange;
}

.add-image-section .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: darkorange;
}

input[type="file"] {
    padding: 8px;
    border: 1px solid orange;
    border-radius: 5px;
}

